/* Definição das variáveis do CSS */
:root{
    --primary-color: rgb(255 0 0);
    --secondary-color: rgb(0 255 0);
    --tertiary-color: rgb(0 0 255);
    --back-color: rgb(22, 22, 22);
}
/* Resetar as configurações do navegador */
*{
    background: var(--back-color);
}
body{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 4px solid red;
}
main{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 2px solid red;
    margin-bottom: 20px;
    background-color: blue;
}
.titulo{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    color: blue;
    border: 4px solid red;
    justify-content: space-around;
}