/* Definição das variáveis do CSS */
:root{
    --primary-color: rgb(255 0 0);
    --secondary-color: rgb(0 255 0);
    --tertiary-color: rgb(0 0 255);
    --back-color: hsl(0 0% 0%);
}
/* Resetar as configurações do navegador */
*{
    background: var(--back-color);
}
body{
    margin: 0;
    padding: 0;
    outline: 0;
}
main{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin-bottom: 20px;
}
.titulo{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
    color: blue;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 80px;
    width: auto;
    font-size: 300px;
}
button{
    background-color: blue;
    width: auto;
    height: 60px;
}